
SDL-IBM Watson Tone Analyzer Solution/SDL.IBM.Tone.Analyzer.WEBApp/obj/Release/Package/PackageTmp/Scripts/* linguist-vendored
SDL-IBM Watson Tone Analyzer Solution/SDL.IBM.Tone.Analyzer.WEBApp/Scripts/* linguist-vendored
* linguist-vendored
*.js linguist-vendored=false